.rightSide{
    align-self: center !important;
    text-align: right;
}

.navacm{
    background-color: #B0A295;
    color: black;
}

.nav-link:hover{
    color: white;
}

.navacmbg{
    background-color: #938E94 !important;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    position: fixed;
    overflow: visible;
    
}

.acm{
    color: black;
}

