.parallax{
    background-color: rgba(230, 230, 230, 0.89);
    display: block;
    width:93%;
    min-height:20em;
    border-radius: .75em;
    margin:auto;
    margin-top: 3em;
    z-index: 99;
    left:3.5vw;
    position: absolute;
    box-shadow: 0px 0px 3px #4444;
    padding: 3em;
    height: auto;
    /* border:1px solid black; */
    font-family: Arial, Helvetica, Arial, sans-serif;
}
.deta{
    border-radius: .75em;
    padding-right: 15em;
    padding-left: 15em;
    padding-top: 2em;
    font-family: Arial, Helvetica, Arial, sans-serif;
}