.main {
    margin-top: 75px;
}

.banner {
    height: 30px;
    width: 100%;
    background-color: #007AFF;
    color: #fff;
}

.featured__event { 
    position: relative;
    width: 100%; 
    height: 500px; 
    text-align: left;
}

.pinned__ribbon {
    position: absolute; 
    top: 0;
    right: 40px;
    z-index: 1;
}

.expiration__ribbon {
    position: absolute; 
    top: 0;
    right: 20px;
    z-index: 1;
}

.show__time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100px;
    background-color: #fff;
}

.starting__date {
    font-size: 0.8rem;
}

.ribbon > p {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    background: var(--color, #2ca7d8) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    padding: 8px 2px 4px;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
    width: var(--width, 32px);
    min-height: var(--height, 36px);
    transition: clip-path 1s, padding 1s, background 1s;
}

/* .ribbon > div {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  background: var(--color, #2ca7d8) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 8px 2px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  width: var(--width, 32px);
  min-height: var(--height, 36px);
  transition: clip-path 1s, padding 1s, background 1s;
} */

.featured__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
}

.avatar__title__wrapper {
    position: absolute; 
    display: flex;
    flex-direction: row;
    bottom: 10px;
    left: 10px;
    max-width: 80%;
    background-color: #fff;
}

.featured__title > img {
    height: 30px; 
    width: 30px;
    border-radius: 15px;
    margin: 0 5px
}

.featured__title > a {
    font-size: 13px;
}

.featured__avatar {
    margin-left: 10px
}

.featured__avatar > img {
    height: 60px;
    width: 60px; 
    border-radius: 30px;
}

.featured__avatar > span {
    color: #007AFF;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: 960px;
    margin: 50px auto;
}

.column {
    flex-basis: 33.3333333333%;
    width: 33.3333333333%;
    padding: 0 10px;
    box-sizing: border-box;
}


.article {
    position: relative;
    background: #FFF;
    margin: 25px 0 50px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: left;
  }
  
  .article:active {
    box-shadow: none;
    transform-origin: center;
    transform: scale(0.98);
}
  .article__category {
    display: inline-block;
    padding: 8px 10px;
    margin: 0 0 10px;
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}
  .article__excerpt {
    color: #666;
    line-height: 1.2rem;
    font-size: 0.9rem; 
    opacity: 0.95;
    text-align: left;
}
  .article__title {
    margin: 10px 0 3px;
    color: #444;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.upcoming__wrapper {
    width: 100%;
    max-width: 960px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    text-align: left;
    color:rgba(0, 0, 0, 0.7);
    font-size: 0.96rem;
    font-weight: 500;
    margin: 0 10px;
}

.upcoming__wrapper > span {
    display: inline-block;
    margin-bottom: 10px;
}

#user {
    width: 100%;
    text-align: left;
}

.avatar__image {
    height: 30px;
    width: 30px; 
    border: 10px;
}

.attachment__image {
    border: .1px solid #999;
    height: 166px; 
    object-fit:cover;
}

.user__info__wrapper {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 0;
}

.user__info__wrapper * {
    margin: 0;
    line-height: 1.6;
}

.info {
    font-size: 0.73rem;
    margin-left: 5px;
}

.info > .date {
    opacity: 0.7
}

.username {
    color: #007AFF;
} 

.article > .read__button {
    border-bottom: 1px solid #000;
}

.button__container {
    text-align: left;
}

.button__container > .read__button:hover {
    border-bottom: 1px solid blue;
}

@media (max-width: 900px) {
    .column {
      flex-basis: 50%;
      width: 50%;
    }

    .featured__title {
        font-size: 1.5rem;
    }
}
@media (max-width: 600px) {
    .column {
      flex-basis: 100%;
      width: 100%;
    }

    .container {
        width: 100%;
    }

    .article {
        margin: 25px 0 10px;
    }
}