@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.featured {
    /* position: relative; */
    height: 500px;
    width: 100%;
    background-color: steelblue;
}

.featured > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit:cover;
}

.content {
    position: absolute; 
    width: 50%;
    bottom: 100px;
    left: 25%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    /* font: normal small-caps normal 16px/1.4 Poppins; */
    font-family: Poppins, sans-serif;
    color: #fff;
}