.paraCont {
    background-color: rgba(230, 230, 230, 0.89);
    display: block;
    width: 93%;
    height: 100%;
    border-radius: .75em;
    margin: auto;
    z-index: 100;
    left: 3.5vw;
    position: absolute;
    box-shadow: 0px 0px 3px #4444;
    padding: 3em;
    top: 15%;
}

body {
    height: 100%;
    box-sizing: padding-box;
}

.demo-container {
    height: 100%;
    box-sizing: padding-box;
}

#app {
    height: 100%;
    box-sizing: border-box;
}

.dx-scheduler {
    height: 100%;
}

.dx-scheduler.dx-scheduler-readonly.dx-widget.dx-visibility-change-handler {
    box-sizing: border-box;
    padding-bottom: 56px;
    height: 100%;
    width: inherit;
    display: block;
    
}

.long-title, .h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 15px;
    padding-top: 15px;
}