.resourcesPara{
    background-color: rgba(230, 230, 230, 0.89);
    display: block;
    width:80%;
    height:auto;
    border-radius: .75em;
    margin:auto;
    position: static;
    padding: 3em;
} 

.resourcesPage{
    padding-top: 110px;
}

.image{
    height: auto;
    width:70%;
    
}