.parallax{
    background-color: rgba(230, 230, 230, 0.89);
    display: block;
    width:93%;
    min-height:20em;
    border-radius: .75em;
    margin:auto;
    z-index: 100;
    margin-top:-5em;
    left:3.5vw;
    position: absolute;
    box-shadow: 0px 0px 3px #4444;
    padding: 3em;
    height: auto;
    /* border:1px solid black; */
}