.footsie{
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, rgb(63,63,63)), color-stop(0.6, rgb(75,75,75)) );
    color: #b9bac4;
    font-size: 10pt;
    font-weight: normal;
    padding: 20px 0px 20px 0px;
    height: auto;
}