.officersPage{
    background-color: rgba(230, 230, 230, 0.89);
    display: block;
    width:93%;
    height:auto;
    border-radius: .75em;
    margin:auto;
    position: relative;
    padding: 3em;
    top: 120px;
} 

.officersContainer{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

